SECRET_KEY=12345*********
SQLALCHEMY_DATABASE_URI = 'mysql+mysqlconnector://cubinez85:пароль@localhost/база_данных'
ELASTICSEARCH_URL=https://localhost:9200
ELASTICSEARCH_CA_CERTS=./http_ca.crt
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=12345******


# Email Configuration - ЛОКАЛЬНЫЙ Postfix
MAIL_SERVER=localhost
MAIL_PORT=25
MAIL_USE_TLS=false
MAIL_USE_SSL=false
MAIL_USERNAME=
MAIL_PASSWORD=
# Оставляем пустыми для локального Postfix



# VAPID Keys for Push Notifications
VAPID_PRIVATE_KEY=12345********
VAPID_PUBLIC_KEY=12345*******
